---
import HeroImage from "./HeroImage.astro";
import HeroButtons from "./HeroButtons.astro";

const {
  heroImage,
  headerTop,
  headerBottom,
  subHeader,
  actions = [],
} = Astro.props;
---

<style lang="scss">
  @use "../../styles/all" as *;

  .hero {
    // position: relative;

    min-height: 90vh;
    min-height: 100vh;
    z-index: 0;

    width: 100vw;
    color: $white;
    display: flex;
    align-items: center;
    margin-top: -8vh;

    // margin-top: -13vh;
    // background-color: red;
    // border-bottom: 1px solid red;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      inset: 0;
      background: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.15)
      );
      z-index: -1;
    }

    .hero-content {
      position: relative;
      min-width: 40%;
      margin-left: 5%;
      //   border: 1px solid black;

      .hero-header {
        width: 70%;
        display: flex;
        flex-direction: column;

        h1 {
          //   font-size: 10ch;
          font-size: clamp(6ch, 10ch, 12ch);
          letter-spacing: 0.05em;
          line-height: 0.95;
        }
        h1:nth-child(2) {
          align-self: flex-end;
          transform: translateX(0.4em);
        }
      }

      .hero-subHeader {
        width: 100%;
        h2 {
          font-style: italic;
          //   font-weight: 700;
          font-weight: 400;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .hero {
      justify-content: center;
      .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;

        .hero-header {
          align-items: center;

          h1:nth-child(2) {
            align-self: center;
            transform: translateX(0);
          }
        }

        .hero-subHeader {
          padding: 1em 2em;
        }
      }
    }
  }
</style>

<header class="hero">
  <HeroImage heroImage={heroImage} />
  <section class="hero-content">
    <div class="hero-header">
      <h1>{headerTop}</h1>
      <h1>{headerBottom}</h1>
    </div>

    <div class="hero-subHeader">
      <h2>{subHeader}</h2>
    </div>

    <HeroButtons buttonActions={actions} />
  </section>
</header>
