---
import HeroImage from "./HeroImage.astro";
import HeroIsland from "./HeroIsland";

const {
  heroImage,
  headerTop,
  headerBottom,
  subHeader,
  actions = [],
} = Astro.props;
---

<style lang="scss">
  @use "../../styles/all" as *;

  .hero {
    // position: relative;
    // min-height: 90vh;
    width: 100vw;
    min-height: 100vh;
    z-index: 0;
    color: $white;
    display: flex;
    align-items: center;
    margin-top: -8vh;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      inset: 0;
      background: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.15)
      );
      z-index: -1;
    }

    .hero-content {
      position: relative;
      min-width: 40%;
      margin-left: 5%;
      //   border: 1px solid black;
    }
  }

  @media (max-width: 768px) {
    .hero {
      justify-content: center;
      .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
      }
    }
  }
</style>

<header class="hero">
  <HeroImage heroImage={heroImage} />
  <section class="hero-content">
    <HeroIsland
      client:visible
      headerTop={headerTop}
      headerBottom={headerBottom}
      subHeader={subHeader}
      buttonActions={actions}
    />
  </section>
</header>
